version: '3'

services:
  vote-app:
    build: Vote
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:mysql://vote_db:3306/vote_spring?createDatabaseIfNotExist=true&serverTimezone=UTC
      DB_USER_NAME: root
      DB_PASSWORD: 1234
    restart: always
    depends_on:
      vote_db:
        condition: service_healthy
  vote_db:
    image: mysql:8.0.33
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: vote_spring
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 10s
      retries: 10

  vote-frontend:
    build: votingWebSockets-Front
    ports:
      - "80:80"
    restart: always