name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'  # You can choose another distribution if needed, such as 'zulu' or 'adopt'
          java-version: '17'
          java-package: 'jdk'
          architecture: 'x64'
          check-latest: false
          server-id: 'github'
          server-username: ${{ secrets.GITHUB_ACTOR }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true


      - name: Build with Maven
        run: mvn clean install --file Vote/pom.xml

      - name: Build Docker image
        run: docker build -t vote-backend:latest ./Vote

      - name: Push Docker image
        run: |
          docker tag vote-backend:latest alfreddev14/vote-backend:latest
          docker push alfreddev14/vote-backend:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml up --build -d
