name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
          java-package: 'jdk'
          architecture: 'x64'
          check-latest: false
          server-id: 'github'
          server-username: ${{ secrets.GITHUB_ACTOR }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true

      - name: Run Tests
        run: mvn test --file Vote/pom.xml
        continue-on-error: true

      - name: Upload Surefire Reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: surefire-reports
          path: Vote/target/surefire-reports/

      - name: Build with Maven (skip tests)
        run: mvn clean install -DskipTests --file Vote/pom.xml

      - name: Build Docker image
        run: docker build -t vote-backend:latest ./Vote

      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker image
        run: |
          docker tag vote-backend:latest alfreddev14/vote-backend:latest
          docker push alfreddev14/vote-backend:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml up --build -d
